body {
  text-align: center;
}

html {
  background-color: silver;
}

input {
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  background-color: silver;
  font-family: cursive;
  font-weight: lighter;
}

.a {
  border: 1px solid grey;
  text-align: left;
  background-color: rgba(65, 215, 241, 0.3);
  font-family: cursive;
  font-style: italic;
  font-weight: lighter;
}

h2  {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid;
  background-color: rgba(65, 215, 241, 0.4);
}

.ex {
  text-align: center;
  font-family: cursive;
}
